@font-face {
    font-family: 'Roboto Slab';
    src: url('../font/RobotoSlab-Medium.woff2') format('woff2'),
        url('../font/RobotoSlab-Medium.woff') format('woff'),
        url('../font/RobotoSlab-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto Slab';
    src: url('../font/RobotoSlab-Bold.woff2') format('woff2'),
        url('../font/RobotoSlab-Bold.woff') format('woff'),
        url('../font/RobotoSlab-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto Slab';
    src: url('../font/RobotoSlab-Regular.woff2') format('woff2'),
        url('../font/RobotoSlab-Regular.woff') format('woff'),
        url('../font/RobotoSlab-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body {
    margin: 0;
    cursor: url(../img/cursor-hata.cur), auto;
}

.wrapper {
    margin: 0 auto;
    width: 960px;
}

.top-header {
    background-color: #1f1f56;
}

.top-header ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.top-header li {
    display: inline-block;
    margin: 0 12px;
    padding: 15px 0;
}

.top-menu {
    display: flex;
    justify-content: space-between;
}

.links-up a {
    font-size: 14px;
    letter-spacing: 2px;
    line-height: 24px;
    color: #b1b1d2;
    font-family: "Arial";
    text-decoration: none;
}

.links-up a:hover {
    color: #fd8300;
}

.links-up,
.social-networks {
    margin: 0 -12px;
}

.social a {
    display: block;
    background: url(../img/sprite.png) no-repeat;
}

a.fb {
    width: 10px;
    height: 19px;
    background-position: 0 0;
}

a.tw {
    width: 18px;
    height: 15px;
    background-position: -12px 0;
}

a.in {
    width: 19px;
    height: 19px;
    background-position: -32px 0;
}

a.fb:hover {
    background-position: 0 -21px;
}

a.tw:hover {
    background-position: -12px -21px;
}

a.in:hover {
    background-position: -32px -21px;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 30px 0;
    align-items: center;
}

.header p {
    margin: 0;
}

.phone-contacts a {
    display: block;
    position: relative;
    font-size: 18px;
    line-height: 24px;
    color: #25252c;
    font-family: "Arial";
    text-decoration: none;
}

a.tel:before,
a.e-mail:before,
a.skype:before {
    content: "";
    background: url(../img/sprite.png) no-repeat;
    position: absolute;
}

a.tel:before {
    width: 16px;
    height: 17px;
    left: -28px;
    top: 1px;
    background-position: -68px 0;
}

.contacts-paragraph {
    position: relative;
}

p.contacts-paragraph:after {
    content: "";
    border-left: 1px solid #e4e4ec;
    height: 50px;
    position: absolute;
    top: 1px;
    right: -20px;
}

.phone-contacts a:hover {
    text-decoration: underline;
}

.additional-contacts a {
    font-size: 16px;
    line-height: 24px;
    position: relative;
    text-decoration: none;
    color: #25252c;
    font-family: "Arial";
}

a.e-mail:before {
    width: 17px;
    height: 13px;
    left: -28px;
    top: 1px;
    background-position: -106px 0;
}

a.skype::before {
    width: 18px;
    height: 19px;
    left: -28px;
    top: 1px;
    background-position: -86px 0;
}

.additional-contacts a:hover {
    text-decoration: underline;
}

.additional-contacts p {
    font-size: 16px;
    line-height: 24px;
    color: #25252c;
    font-family: "Arial";
    margin: 0;
}

.quick-contact a {
    display: inline-block;
    padding: 11px 30px;
    font-size: 16px;
    line-height: 24px;
    color: #25252c;
    font-weight: bold;
    font-family: "Arial";
    text-decoration: none;
    border: 3px solid #fd8300;
    border-radius: 30px;
}

.main-info {
    align-items: flex-start;
    padding: 46px 0;
}

.about h1 {
    font-size: 24px;
    line-height: 24px;
    color: #24242b;
    font-weight: 700;
    font-family: "Roboto Slab";
    margin: 0;
}

.about-p {
    font-size: 14px;
    line-height: 24px;
    color: #666666;
    font-family: "Arial";
    margin: 0;
    padding: 25px 0;
}

.settlement {
    font-size: 13px;
    line-height: 21px;
    color: #666666;
    font-family: "Arial";
    margin: 0;
    padding: 26px 0;
}

.about a {
    font-size: 14px;
    line-height: 24px;
    text-decoration: underline;
    color: #fd8300;
    font-weight: bold;
    font-family: "Arial";
}

.about a:hover {
    color: #24242b;
    text-decoration: none;
}

.table {
    width: 100%;
    border-collapse: collapse;
}

.table-header {
    font-size: 14px;
    line-height: 24px;
    color: #fff;
    font-weight: 700;
    font-family: "Roboto Slab";
    background-color: #1f1f56;
}

.table-header th {
    text-align: left;
    padding: 11px 20px;
}

.table-header tr>th:first-child {
    width: 275px;
}

.table-header tr>th:last-child,
.table-main tr>td:last-child {
    text-align: right;
}


.table-main {
    font-size: 14px;
    line-height: 24px;
    color: #666;
    font-family: "Arial";
    background-color: #e4e4ec;
}

.table-main tr:hover {
    color: #fff;
    background-color: #fd8300;
}

.table td {
    padding: 9px 20px;
}

.table-main tr+tr>td {
    border-top: 1px solid #cdcddd;
}

.border {
    margin: 33px 0;
    border-color: transparent;
    border-top: 1px solid #e4e4ec;
}

.popular-projects h2 {
    font-size: 24px;
    line-height: 24px;
    color: #24242b;
    font-weight: 700;
    font-family: "Roboto Slab";
    margin: 0;
    padding-bottom: 24px;
}

.projects {
    display: flex;
    margin: 0 -14px;
}

.projects img {
    vertical-align: bottom;
    margin-bottom: 5px;
}

.edm,
.mon,
.cal,
.ric {
    margin: 0 14px;
}

.projects h3 {
    margin: 0;
}

.edm a,
.mon a,
.cal a,
.ric a {
    font-size: 14px;
    line-height: 24px;
    color: #1f1f56;
    font-weight: bold;
    font-family: "Arial";
    text-decoration: none;
}

.edm a:hover,
.mon a:hover,
.cal a:hover,
.ric a:hover {
    text-decoration: underline;
}

.edm p,
.mon p,
.cal p,
.ric p {
    width: 220px;
    height: 53px;
    font-size: 13px;
    line-height: 18px;
    color: #9999a6;
    font-family: "Arial";
    margin: 0;
}

.belt {
    background-color: #ededf5;
}

.belt-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 28px 0;
}

.belt-wrapper p {
    margin: 0;
}

.links-down-left ul,
.links-down-right ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.links-down-left a,
.links-down-right a {
    text-decoration: none;
    font-size: 14px;
    line-height: 26px;
    color: #666666;
    font-family: "Arial";
}

.links-down-left a:hover,
.links-down-right a:hover {
    color: #fd8300;
    text-decoration: underline;
}

.copy {
    padding: 14px 0;
    background-color: #dcdce6;
}

.copy p {
    margin: 0;
    font-size: 13px;
    line-height: 18px;
    color: #9999a6;
    font-family: "Arial";
    text-align: center;
}